body {
    background-color: lightgrey;
}

.container {
    width: 50%;
    height: 75%;
    margin: 20px auto;
    border: 10px solid pink;
    overflow: hidden;
    background-color: beige;
}

.one {
    height: 100px;
    width: 200px;
    border: 10px solid red;
    margin: 20px auto;
    box-shadow: 10px 10px 15px 5px #D77C6D;
    filter: blur(0.9px);
    background-color: rosybrown;
    border-radius: 5px;
        transform: rotate(5deg);

}

.two {
    height: 100px;
    width: 200px;
    border: 10px solid white;
    margin: 20px auto;
    box-shadow: 10px 30px 15px 5px grey;
    filter: blur(0.9px);
    background-color: rosybrown;
    border-radius: 5px;
    transform: rotate(-5deg);



}

.three {
    height: 100px;
    width: 200px;
    border: 10px solid blue;
    margin: 10px auto;
    box-shadow: 10px 10px 15px 5px #6589A0;
    filter: blur(0.9px);
    background-color: rosybrown;
    border-radius: 5px;
        transform: rotate(5deg);


}